<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Page</title>
</head>
<body>
            <h3>Employee Form</h3>
            <form method="post">
                <label>Enter Employee Name: <input name="ename" value="{{ obj.ename }}"/></label>
                <br><br>
                <label>Enter Employee Salary: <input name="esal" value="{{ obj.esal }}" /></label>
                <br><br>
                <input type="submit" value="update">
            </form>
</body>
</html>